<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Juego de memoria.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A969193E1D0769AC00213892</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A96919521D0769AD00213892</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A969195D1D0769AD00213892</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
